<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>

#span_page:before{
	content:counter(page);
}
#span_pages:before{
	content:counter(pages);
}

.div_main:nth-child(odd){
  page-break-before: always;
	padding-top:300px;
}
.div_main:nth-child(even){
  page-break-before: always;
	padding-top:300px;
}

body {
	margin: 0px;
	height: 100%;	
	font-family:Arial;
}

.div_header{
	margin:0px;
	background-color:#009fdf;
	height:172.8px;
	width:100%;
	position:fixed;
	top:0;
}
.img_header_gbo{
	height:61.44px;
	width:151.68px;	
}
.img_header_get{
	height:88.32px;
	width:144px;
	
}
.div_letterhead{
	position:fixed;
	top:172.8px;
	width:100%;
}
#h3_employee{
	margin-bottom:0;
}
#h3_date_finished{
	margin-top:0;	
}
#h3_correct_answers{
	width:100%;
	border-bottom:solid black 1px;
}
.table_header{
	
	width:100%;
	height:100%;	
}
.table_header td{
	text-align:center;
	width:33.33%;
	color:white;
}
.table_footer td{
	width:33.33%;
	color:white;
}
#td_page{
	text-align:right;
	padding:15px;
}
.div_footer{
	position:fixed;
	bottom:0;
	height:92.16px;
	width:100%;
	background-color:#009fdf;
}
.table_footer{
	text-align:center;
	width:100%;
	height:100%;
}

.td_image{
	width:70%;
	vertical-align:top;
	text-align:center;
}
.answer_correct{
	background-color: #A9E27C;
}
.table_questions{
	width:100%;
	border-collapse:collapse;
	margin-bottom:10px;
}
.table_questions th{
	background-color:#dfdfdf;
	width:100%;
	border: solid #111 1px;
	padding:10px;
}
.table_questions tr:first-child{
	border-bottom:solid #111 5px;
}
.table_questions td{
	/*width:100%;*/
	border:solid #111 1px;
	padding:10px;
}
.td_answer_icon{
	width:5%;
}
.td_answer_text{
	width:95%;
}
i{
	font-size:15px;
	color:black;
}
.h3_answer_text{
	font-weight:100;
}
.table_questions h3{
	margin:0;
}
 h3{
 	font-size:12pt;
 	
 }
.td_image{
	text-align:center;
	width:100%;
}

</style>
</head>
<body>
	<div class="div_header">
		<table class="table_header">
			<tr>
				<td>				
					<div id="img_header_get" class="media" data-src="images/GeT_Logo_white.png" style="height:88.32px;	width:144px; margin:auto;"></div>			
				</td>
				<td>
				</td>
				<td>
					<div id="img_header_gbo" class="media" data-src="images/gbo_Logo_white.png" style="	height:61.44px;	width:151.68px;	margin:auto;"></div>	
				</td>
			</tr>			
		</table>
	</div>
	<div class="div_letterhead">
		<h3 id="h3_employee" th:text="${''+pdf_employee+tutorial.getEmployee().getFirstname()+' '+tutorial.getEmployee().getLastname()}"></h3>
		<h3 id="h3_date_finished" th:text="${''+pdf_finsihed_tutorial+dateFinished}"></h3>
		<h3 id="h3_correct_answers" th:text="${''+correctAnswers+pdf_correct_questions_1+totalAnswers+pdf_correct_questions_2}"></h3>
	</div>
	<div class="div_questions">
		<div id="div_main" class="div_main" th:each="question : ${list}">
			<table class="table_questions">
				<tr>
					<th colspan="2">
						<h3 id="h3_title_question" class="h3_title_question" th:text="${pdf_question+question.getOrder()}"></h3>
					</th>					
				</tr>
				<tr>
					<th colspan="2">
						<h3 id="h3_text_question" class="h3_text_question" th:text="${question.getText()}"></h3>
					</th>
				</tr>
				<tr th:each="answer : ${question.getGodAnswers()}" >
					<td class="td_answer_icon" th:classappend="${answer.getCorrect()?'answer_correct':''}">
						<div id="img_checked_checkbox" class="media" data-src="images/icon_checked_checkbox.png" th:if="${answer.getGodPersonalanswertoPersonalTutoral(tutorial.getId()).isSelected()}" style="height:15px;	width:15px; margin:auto;"></div>			
						<div id="img_unchecked_checkbox" class="media" data-src="images/icon_unchecked_checkbox.png" th:if="${!answer.getGodPersonalanswertoPersonalTutoral(tutorial.getId()).isSelected()}" style="height:13px;	width:13px; margin:auto;"></div>			
						
					</td>
					<td class="td_answer_text" th:classappend="${answer.getCorrect()?'answer_correct':''}">
						<h3 id="h3_answer_text" class="h3_answer_text" th:text="${answer.getAnswertext()}"></h3>
					</td>
				</tr>
				<tr>
					<td class="td_image" colspan="2">
						<img class="img_question" th:src="${'data:image;base64,'+	Encoder.encodeToString(question.getImage())}" width="400px" height="350px" th:alt="question_alt_image"/>	 							
					</td>
				</tr>
				
			</table>
			<!--  <div id="div_">
				<h3 id="h3_title_question" class="title_question" th:text="'Frage:'+${question.getOrder()}"></h3>
				<div class="div_inner">
					<table class="table_question">
						<tr>
							<td id="div_question">	
								<h4 id="h4_text_question"  class="h4_text_question" th:text="${question.getText()}"></h4>
								<table class="table_checkboxes">
									<tr class="tr_answer" th:each="answer : ${question.getGodAnswers()}" th:classappend="${answer.getCorrect()}?answer_correct: (${answer.getGodPersonalanswertoPersonalTutoral(tutorial.getId()).isSelected()}?answer_wrong:'')">
										<td class="td_answer checkbox">
											<input th:id="'input_checkbox'" class="input_checkbox" th:checked="${answer.getGodPersonalanswertoPersonalTutoral(tutorial.getId()).isSelected()}" disabled="disabled" type="checkbox"/>
										</td>
										<td class="td_answer">
											<label  th:id="'label_checkbox'" th:text="${answer.getAnswertext()}"></label>
										</td>
									</tr>
								</table>
							</td>
							<td class="td_image">
								 <img th:src="${'data:image;base64,'+question.getImage().toString()}" th:alt="question_alt_image"/>	 
							</td>				
						</tr>					
					</table>									
				</div>
			</div>-->
		</div>
	</div>
	<div class="div_footer">
		<table class="table_footer">
			<tr>
				<td colspan="2">
					<h3 id="h2_title_tutorial" th:text="${tutorial.getGodTutorial().getTutorialname()}"></h3>
				</td>
				<td id="td_page">
					<h3 id="h2_page"><span id="span_page"></span>/<span id="span_pages"></span></h3>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>